<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="navbar.css">
  <title>TestGrader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="d3.v2.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
        <%= render '/layouts/header' %>

<div class="jumbotron"><%= yield %></div>
</div>
</body>
</html>
