Take a Test


<iframe src="http://cdn2.hubspot.net/hubfs/360031/ACT-2015-16.pdf?t=1466445609595" scrolling="yes" width="600" height="600">
<p>Your browser does not support iframes</p>
</iframe>

<%= form_for @test do |f| %>
Test Code:
<%= f.collection_select  :answer_key_id, AnswerKey.all, :id, :code %><br><br><br>
<%= f.hidden_field :user_id, value: current_user.id %>


<%= render partial:'/tests/test', locals:{format: @format, f: f} %>



<%= f.submit %>
<% end %>
