<% format.each do |key, value| %>
<div id="<%= key.to_s%>" class="section">

<strong><h2><%= key.to_s.upcase %></h2><br></strong>
  <h3 id="<%= key.to_s %>Score"></h3><br>
<% value.times do |x|  %>
<% index = x + 1 %>
<%= f.fields_for :responses, @test.responses.build do |resource_fields| %>


<% section = key.to_s %>



<% index = x + 1 %>

<strong><%= index %></strong>  -
<% if index% 2 > 0 %>
<div id="question">
<%= resource_fields.label :response, 'A', class: 'radio-inline' %>
<%= resource_fields.radio_button :answer_choice, 'a', section: section, question: index%>

<%= resource_fields.label :response, 'B', class: 'radio-inline' %>
<%= resource_fields.radio_button :answer_choice, 'b', section: section,  question: index %>

<%= resource_fields.label :response, 'C', class: 'radio-inline' %>
<%= resource_fields.radio_button :answer_choice, 'c', section: section,checked: true, question: index %>

<%= resource_fields.label :response, 'D', class: 'radio-inline' %>
<%= resource_fields.radio_button :answer_choice, 'd', section: section, question: index %>

<%= resource_fields.label :response, 'E', class: 'radio-inline' %>
<%= resource_fields.radio_button :answer_choice, 'e', section: section, question: index %>
</div>


 <br>
<% else %>

<div id="question" class="field form-group">
<%= resource_fields.label :response, 'F', class: 'radio-inline' %>
<%= resource_fields.radio_button :answer_choice, 'f', question: index,  section: section %>

<%= resource_fields.label :response, 'G', class: 'radio-inline' %>
<%= resource_fields.radio_button :answer_choice, 'g', section: section, question: index %>

<%= resource_fields.label :response, 'H', class: 'radio-inline' %>
<%= resource_fields.radio_button :answer_choice, 'h', checked: true, section: section, question: index %>

<%= resource_fields.label :response, 'J', class: 'radio-inline' %>
<%= resource_fields.radio_button :answer_choice, 'j', section: section, question: index %>

<%= resource_fields.label :response, 'K', class: 'radio-inline' %>
<%= resource_fields.radio_button :answer_choice, 'k', section: section, question: index %>

 </div>
 <br>
<% end %>
<% end %>
<% end %></div>
<% end %>
