


<%= @user.name %>
<% if current_user.normal? %>

Your tutor is <%= current_user.tutor.name %>
<% end %>
<br>
<br>

Previous Tests :
<br>
<% if @tests != [] %>
<% @tests.each do |x| %>

<div class="finished_test">
<%= link_to x.answer_key.code, user_test_path(current_user.id, x.id) %><br>
Score <%= test_score x %>
</div>
<% end %>
<% else %>
<br>
<%=  "You haven't taken any tests" %><br>

<% end %>
<br><br>
<div class="newTests">
<%= link_to 'Take a New Test', new_user_test_path(current_user) %>

</div>
