<h2><%= @test.user.name %>'s Test</h2>
<div id="hiddenUserId" value="<%= @test.user.id%>"></div>
<div id="hiddenTestId" value="<%=@test.id%>"></div>
<div id="hiddenAnswerKeyId" value="<%=@test.answer_key.id%>"></div>
  <h3><%= @code %></h3>
<% if @test.total_score == nil %>
<% get_scores @test %>
<% end %>
<% if @test.total_score == nil %>
<% get_scores @test %>
<% end %>
<div id="test_frame" class="new_tests col-lg-8"><iframe id="showTestFrame" src="" width="600px" height="600px"></iframe></div>

<div class="test-container new_tests col-lg-4 well well-sm">
</strong><h4 id="totalScore">Score: <%= @test.total_score %></h4></strong>


<ol id='english'>
  <strong>English Raw Score <div id='englishScore'></div>
<br> </strong>



</ol>

<ol id="math">
<strong>Math Raw Score<div id='mathScore'></div>

<br> </strong>


</ol>


<ol id="reading">
<strong>Reading Raw Score <div id='readingScore'></div>
<br> </strong>


</ol>

<ol id="science">
<strong>Science Raw Score <div id='scienceScore'></div>
<br>
 </strong>


</ol>
</div>

<script type="text/javascript">
  $(function() {
    var userId = $('#hiddenUserId').attr('value')
    var testId = $('#hiddenTestId').attr('value')

    $.get(testId+'.json', function(data) {

      var test = data

      $('#englishScore').html(data["english_score"])
      $('#mathScore').html(data["math_score"])
      $('#readingScore').html(data["reading_score"])
      $('#scienceScore').html(data["science_score"])
      $('#totalScore').html(data["total_score"])

      var resp = data["responses"]
      for (i = 0; i < resp.length; i ++) {
        if (resp[i]["score"] === 0) {
        $('#'+resp[i].section.title).append('<li>Your Response: '+ resp[i]["answer_choice"]+'   ❌   <button class="btn btn-danger" onclick="showAnswer()"> See Answer </button><div type="hidden" value="'+resp[i]["section"]["id"]+'"></div><div id="answer"></div>'+'</li>')
      }
      else {
          $('#'+resp[i].section.title).append('<li>Your Response: '+ resp[i]["answer_choice"]+'     Correct<div type="hidden" vale="'+resp[i]["section"]["id"]+'></div </li>')
      }
      }
      $.get('/answer_keys/'+data['answer_key_id'], function(resp){
        $('#showTestFrame')[0].src = resp.url
      })
    } )






  })





</script>
